#parse("/WEB-INF/tpl/common/header.vm")

<div class="bs-docs-header" id="content" tabindex="-1">
	<div class="container">
		<h1>频道管理</h1>
		<p>共有$!channels.size()个频道</p>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addChannelTemplate">
				新建
			</button>
		</div>
		#if ($message)
			<div class="alert alert-warning alert-dismissible" role="alert" style="margin-top: 15px;">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				$!message
			</div>
		#end
	</div>
</div>

<div class="container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>名称</th>
				<th>地址</th>
				<th>编辑邮箱</th>
				<th>页面数</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			#foreach($channel in $channels)
    			<tr 
    				data-id="$channel.id" 
					data-channel_id="$channel.channelId" 
    				data-name="$!channel.name"
					data-url="$channel.url"
					data-editor="$channel.editor"
					data-status="$channel.status">
    				<td>$channel.channelId</td>
    				<td>$!channel.name</td>
    				<td>$!channel.url</td>
					<td>$!channel.editor</td>
					<td><a href="pages?cid=$channel.channelId">$!channel.pageCount</a></td>
    				<td>#if($channel.status == 1) 正常 #else 关闭 #end</td>
    				<td><a href="#" data-toggle="modal" data-target="#editChannelTemplate">修改</a></td>
    			</tr>
			#end
		</tbody>
	</table>
</div>

<!-- 新增插件 -->
<div class="modal fade" id="addChannelTemplate" style="display:none">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
        		</button>
        		<h4 class="modal-title">新频道</h4>
       		</div>
        	<form class="form-horizontal" method="post" action="channels">
       		<div class="modal-body">
    			<div class="form-group">
					<label for="channelId" class="col-sm-2 control-label">ID:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="channelId" name="channelId" placeholder="ID:" required>
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">名称:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="name" name="name" placeholder="名称:" required>
					</div>
				</div>
				<div class="form-group">
					<label for="url" class="col-sm-2 control-label">频道地址:</label>
					<div class="col-sm-10">
  						<input type="url" class="form-control" id="url" name="url" placeholder="频道地址:" required>
					</div>
				</div>
				<div class="form-group">
					<label for="editor" class="col-sm-2 control-label">编辑邮箱:</label>
					<div class="col-sm-10">
  						<input type="email" class="form-control" id="editor" name="editor" placeholder="编辑邮箱:" required>
					</div>
				</div>
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">状态:</label>
					<div class="col-sm-10">
						<select class="form-control" name="status">
							<option value="0">关闭</option>
							<option value="1">开启</option>
						</select>
					</div>
				</div>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        		<button type="submit" class="btn btn-primary">保存</button>
      		</div>
      		</form>
      	</div>
	</div>
</div>

<!-- 编辑插件 -->
<div class="modal fade" id="editChannelTemplate" style="display:none">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
        		</button>
        		<h4 class="modal-title">编辑频道</h4>
       		</div>
        	<form class="form-horizontal" method="post" id="editChannelForm">
       		<div class="modal-body">
    			<div class="form-group">
					<label for="channelId" class="col-sm-2 control-label">ID:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="channelId" name="channelId" disabled>
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">名称:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="name" name="name" placeholder="名称:" required>
					</div>
				</div>
				<div class="form-group">
					<label for="url" class="col-sm-2 control-label">频道地址:</label>
					<div class="col-sm-10">
  						<input type="url" class="form-control" id="url" name="url" placeholder="频道地址:" required>
					</div>
				</div>
				<div class="form-group">
					<label for="editor" class="col-sm-2 control-label">编辑邮箱:</label>
					<div class="col-sm-10">
  						<input type="email" class="form-control" id="editor" name="editor" placeholder="编辑邮箱:" required>
					</div>
				</div>
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">状态:</label>
					<div class="col-sm-10">
						<select class="form-control" name="status">
							<option value="0">关闭</option>
							<option value="1">开启</option>
						</select>
					</div>
				</div>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        		<button type="submit" class="btn btn-primary">保存</button>
      		</div>
      		</form>
      	</div>
	</div>
</div>
#parse("/WEB-INF/tpl/common/js.vm")
<script>
	$("#editChannelTemplate").on("show.bs.modal",function(event) {
		var tr = $(event.relatedTarget).closest('tr');
		var id = tr.data("id");
		var channelId = tr.data("channel_id");
		var name = tr.data("name");
		var url = tr.data("url");
		var editor = tr.data("editor");
		var status = tr.data("status");
		var modal = $(this);
		modal.find(".modal-content form").attr("action","channels/" + id);
		modal.find(".modal-body input[name='channelId']").val(channelId);
		modal.find(".modal-body input[name='name']").val(name);
		modal.find(".modal-body input[name='url']").val(url);
		modal.find(".modal-body input[name='editor']").val(editor);
		modal.find(".modal-body select[name='status']").val(status);
	});
	
	$("#editChannelForm").submit(function() {
			$(this).ajaxSubmit({
				type: "post",
				dataType: "json",
				success: function(data) {
					$("#editPluginTemplate").modal("hide");
					location.reload();
				},
				error: function(data) {
					alert(data);
				}
			});
			return false;
		});
</script>

#parse("/WEB-INF/tpl/common/footer.vm")