#parse("/WEB-INF/tpl/common/header.vm")

<div class="container">
	<ol class="breadcrumb">
		<li><a href="$request.contextPath/channels/$map.page.channelId/pages">频道</a></li>
		<li>页面</li>
	</ol>
</div>

<div class="container">
	<ul class="nav nav-tabs"  role="tablist" style="margin-bottom: 15px;"  data-page_id="$map.page.id">
		<li role="presentation" class="active"><a href="#data_bind" aria-controls="data_bind" role="tab" data-toggle="tab">数据绑定</a></li>
		<li role="presentation"><a href="#plugin_manage" aria-controls="plugin_manage" role="tab" data-toggle="tab">模块绑定</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="data_bind">
			#foreach($module in $map.modules)
				<p class="lead">
				<a class="btn btn-primary" role="button" data-toggle="collapse" href="#data_bind_$velocityCount" aria-expanded="false" aria-controls="data_bind_$velocityCount">
					$!module.name [#foreach($plugin in $map.plugins) #if ($plugin.id == $module.pluginId) $!plugin.name #end #end]
				</a>
				<div class="collapse" id="data_bind_$velocityCount">
  					<div class="well">
  						$velocityCount
  					</div>
				</div>
				</p>
			#end
		</div>
		
		<div role="tabpanel" class="tab-pane" id="plugin_manage">
				<button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#addModuleTemplate">新增模块</button>
				
				<!-- modules template -->
				<table class="table table-bordered" style="margin-top: 10px" id="modules_table">
					<thead>
						<tr>
							<th>#</th>
							<th>顺序</th>
							<th>模块标题</th>
							<th>插件名称</th>
							<th>状态</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				
		</div>
	</div>
</div>

<!-- 新增模块 -->
<div class="modal fade" id="addModuleTemplate" style="display:none">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
        		</button>
        		<h4 class="modal-title">新增模块</h4>
       		</div>
        	<form class="form-horizontal" method="post" action="$map.page.id/modules" id="addModuleForm">
       		<div class="modal-body">
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">模块名称:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="name" name="name" placeholder="模块名称" required>
					</div>
				</div>
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">选择插件:</label>
					<div class="col-sm-10">
						<select class="form-control" name="pluginId">
						#foreach($plugin in $map.plugins)
							<option value="$plugin.pluginId">$plugin.name</option>
						#end
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">状态:</label>
					<div class="col-sm-10">
						<select class="form-control" name="status">
							<option value="0">关闭</option>
							<option value="1">开启</option>
						</select>
					</div>
				</div>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        		<button type="submit" class="btn btn-primary">保存</button>
      		</div>
      		</form>
      	</div>
	</div>
</div>

<!-- 编辑插件 -->
<div class="modal fade" id="editModuleTemplate" style="display:none">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
        		</button>
        		<h4 class="modal-title">编辑模块</h4>
       		</div>
       		<div class="modal-body">
       			<form class="form-horizontal" method="post" id="editModuleForm">
        		<input type="hidden" name="pageId" id="pageId" value="$map.page.id">
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">模块标题:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="name" name="name" placeholder="模块标题" required>
					</div>
				</div>
			<div class="form-group">
					<label for="status" class="col-sm-2 control-label">选择插件:</label>
					<div class="col-sm-10">
						<select class="form-control" name="pluginId">
						#foreach($plugin in $map.plugins)
							<option value="$plugin.pluginId">$plugin.name</option>
						#end
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">状态:</label>
					<div class="col-sm-10">
						<select class="form-control" name="status">
							<option value="0">关闭</option>
							<option value="1">开启</option>
						</select>
					</div>
				</div>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        		<button type="submit" class="btn btn-primary">保存</button>
        		<!--<button type="button" class="btn btn-danger">删除</button>-->
      		</div>
      		</form>
      	</div>
	</div>
</div>

#parse("/WEB-INF/tpl/common/js.vm")

<script src="$request.contextPath/js/pages.js">
</script>

#parse("/WEB-INF/tpl/common/footer.vm")