#parse("/WEB-INF/tpl/common/header.vm")

<div class="container">
	<ol class="breadcrumb">
		<li><a href="$request.contextPath/channels/$map.page.channelId/pages">频道</a></li>
		<li>页面<a style="float: right" role="button" target="_blank" href="$request.contextPath/pages/$map.page.id/preview">(预览)</a></li>
	</ol>
</div>

<div class="container">
	<ul class="nav nav-tabs"  role="tablist" style="margin-bottom: 15px;"  data-page_id="$map.page.id">
		<li role="presentation" class="active"><a href="#data_bind" aria-controls="data_bind" role="tab" data-toggle="tab">数据绑定</a></li>
		<li role="presentation"><a href="#plugin_manage" aria-controls="plugin_manage" role="tab" data-toggle="tab">模块绑定</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="data_bind">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			#foreach($module in $map.modules)
  					<div class="panel panel-default">
  						<div class="panel-heading" role="tab" id="heading_${module.id}_${module.pluginId}">
  							<h4 class="panel-title">
  								<a class="bindedDataLink" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_${module.id}_${module.pluginId}" 
									aria-expanded="false" aria-controls="collapse_${module.id}_${module.pluginId}" 
									data-pluginId="$module.pluginId" data-moduleId="$module.id">
  									$!module.name [$!module.pluginName]
  								</a>
								<a style="float: right" role="button" target="_blank" href="$request.contextPath/pages/$map.page.id/preview?mid=$module.id">预览
								</a>
  							</h4>
  						</div>
  						<div id="collapse_${module.id}_${module.pluginId}" class="panel-collapse collapse" role="tabpanel" 
								aria-labelledby="heading_${module.id}_${module.pluginId}"
								data-pluginId="$module.pluginId" data-moduleId="$module.id">
  							#parse("/WEB-INF/tpl/plugins/internal/${module.pluginId}.vm")
  						</div>
  					</div>
			#end
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="plugin_manage">
				<button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#addModuleTemplate">新增模块</button>
				<!-- modules template -->
				<table class="table table-bordered" style="margin-top: 10px" id="modules_table">
					<thead>
						<tr>
							<th>#</th>
							<th>顺序</th>
							<th>模块标题</th>
							<th>插件名称</th>
							<th>状态</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
		</div>
	</div>
</div>

#parse("/WEB-INF/tpl/pages/modal/add_module.vm")
#parse("/WEB-INF/tpl/pages/modal/edit_module.vm")
#parse("/WEB-INF/tpl/plugins/internal/100_modal.vm")

#parse("/WEB-INF/tpl/common/js.vm")
<script src="$request.contextPath/js/pages.js"></script>
#parse("/WEB-INF/tpl/common/footer.vm")