#parse("/WEB-INF/tpl/common/header.vm")

<div class="bs-docs-header" id="content" tabindex="-1">
	<div class="container">
		<h1>频道页面管理</h1>
		<p>共有$!pages.size()个页面</p>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addPageTemplate">
				新建
			</button>
		</div>
		#if ($message)
			<div class="alert alert-warning alert-dismissible" role="alert" style="margin-top: 15px;">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				$!message
			</div>
		#end
	</div>
</div>

<div class="container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>页头标题</th>
				<th>页面名称</th>
				<th>页面关键字</th>
				<th>页面描述</th>
				<th>编辑邮箱</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			#foreach($page in $pages)
    			<tr 
    				data-id="$page.id" 
    				data-channel_id="$page.channelId"
    				data-name="$!page.name"
    				data-title="$!page.title"
    				data-meta_keywords="$!page.metaKeywords"
					data-meta_desc="$page.metaDesc"
					data-editor ="$!page.editor"
					data-status="$page.status">
    				<td>$!page.title</td>
    				<td><a href="$request.contextPath/pages/$page.id" target="_blank">$!page.name</a></td>
					<td>$!page.metaKeywords</td>
					<td>$!page.metaDesc</td>
					<td>$!page.editor</td>
    				<td>#if($page.status == 1) 正常 #else 关闭 #end</td>
    				<td><a href="#" data-toggle="modal" data-target="#editPageTemplate">修改</a></td>
    			</tr>
			#end
		</tbody>
	</table>
</div>

<!-- 新增插件 -->
<div class="modal fade" id="addPageTemplate" style="display:none">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
        		</button>
        		<h4 class="modal-title">新页面</h4>
       		</div>
        	<form class="form-horizontal" method="post" action="pages">
       		<div class="modal-body">
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">页面标题:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="name" name="name" placeholder="显示在浏览器上的小标题" required>
					</div>
				</div>
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">页面名称:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="title" name="title" placeholder="页面名称，管理页面时显示" required>
					</div>
				</div>
				<div class="form-group">
					<label for="metaKeywords" class="col-sm-2 control-label">关键字:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="metaKeywords" name="metaKeywords" placeholder="页面关键字:" required>
					</div>
				</div>
				<div class="form-group">
					<label for="metaDesc" class="col-sm-2 control-label">页面描述:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="metaDesc" name="metaDesc" placeholder="页面描述:" required>
					</div>
				</div>
				<div class="form-group">
					<label for="editor" class="col-sm-2 control-label">编辑邮箱</label>
					<div class="col-sm-10">
  						<input type="email" class="form-control" id="editor" name="editor" placeholder="编辑邮箱:" required>
					</div>
				</div>
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">状态:</label>
					<div class="col-sm-10">
						<select class="form-control" name="status">
							<option value="0">关闭</option>
							<option value="1">开启</option>
						</select>
					</div>
				</div>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        		<button type="submit" class="btn btn-primary">保存</button>
      		</div>
      		</form>
      	</div>
	</div>
</div>

<!-- 编辑插件 -->
<div class="modal fade" id="editPageTemplate" style="display:none">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
        		</button>
        		<h4 class="modal-title">编辑页面</h4>
       		</div>
        	<form class="form-horizontal" method="post" id="editPageForm">
       		<div class="modal-body">
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">页面标题:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="name" name="name" placeholder="显示在浏览器上的小标题" required>
					</div>
				</div>
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">页面名称:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="title" name="title" placeholder="页面名称，管理页面时显示" required>
					</div>
				</div>
				<div class="form-group">
					<label for="metaKeywords" class="col-sm-2 control-label">关键字:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="metaKeywords" name="metaKeywords" placeholder="页面关键字:" required>
					</div>
				</div>
				<div class="form-group">
					<label for="metaDesc" class="col-sm-2 control-label">页面描述:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="metaDesc" name="metaDesc" placeholder="页面描述:" required>
					</div>
				</div>
				<div class="form-group">
					<label for="editor" class="col-sm-2 control-label">编辑邮箱:</label>
					<div class="col-sm-10">
  						<input type="email" class="form-control" id="editor" name="editor" placeholder="编辑邮箱:" required>
					</div>
				</div>
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">状态:</label>
					<div class="col-sm-10">
						<select class="form-control" name="status">
							<option value="0">关闭</option>
							<option value="1">开启</option>
						</select>
					</div>
				</div>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        		<button type="submit" class="btn btn-primary">保存</button>
      		</div>
      		</form>
      	</div>
	</div>
</div>
#parse("/WEB-INF/tpl/common/js.vm")
<script>
	$("#editPageTemplate").on("show.bs.modal",function(event) {
		var tr = $(event.relatedTarget).closest('tr');
		var id = tr.data("id");
		var channelId = tr.data("channel_id");
		var name = tr.data("name");
		var title= tr.data("title");
		var keywords = tr.data("meta_keywords");
		var desc = tr.data("meta_desc");
		var editor = tr.data("editor");
		var status = tr.data("status");
		var modal = $(this);
		modal.find(".modal-content form").attr("action", "pages/" + id);
		modal.find(".modal-body input[name='name']").val(name);
		modal.find(".modal-body input[name='title']").val(title);
		modal.find(".modal-body input[name='metaKeywords']").val(keywords);
		modal.find(".modal-body input[name='metaDesc']").val(desc);
		modal.find(".modal-body input[name='editor']").val(editor);
		modal.find(".modal-body select[name='status']").val(status);
	});
	
	
	$("#editPageForm").submit(function() {
			$(this).ajaxSubmit({
				type: "post",
				dataType: "json",
				success: function(data) {
					$("#editPageTemplate").modal("hide");
					location.reload();
				},
				error: function(data) {
					alert(data);
				}
			});
			return false;
		});
</script>

#parse("/WEB-INF/tpl/common/footer.vm")