<tr class="drag-item"  data-template-bind='[{"attribute": "data-id", "value": "id"}, 
	{"attribute": "data-name", "value": "name"},
	{"attribute": "data-plugin_id", "value": "pluginId"},
	{"attribute": "data-status", "value": "status"},
	{"attribute": "data-page_id", "value": "pageId"}]'>
	<td data-content="id"></td>
	<td data-content="position"></td>
	<td data-content="name"></td>
	<td data-content="pluginName"></td>
	<td data-content="status" data-format="moduleStatus"></td>
	<td data-content="createTime" data-format="date"></td>
	<td><a href="#" data-toggle="modal"
		data-target="#editModuleTemplate">修改</a> | <a href="#" class="deleteModuleLink">删除</a></td>
</tr>