#parse("/WEB-INF/tpl/common/header.vm")

<div class="bs-docs-header" id="content" tabindex="-1">
	<div class="container">
		<h1>插件管理</h1>
		<p>共有$!plugins.size()个插件</p>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addPluginTemplate">
				新建
			</button>
		</div>
		#if ($message)
			<div class="alert alert-warning alert-dismissible" role="alert" style="margin-top: 15px;">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				$!message
			</div>
		#end
	</div>
</div>

<div class="container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>名称</th>
				<th>主题</th>
				<th>设备</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			#foreach($plugin in $plugins)
    			<tr 
    				data-id="$plugin.id" 
					data-plugin_id="$plugin.pluginId" 
    				data-name="$!plugin.name"
					data-theme="$plugin.theme"
					data-device="$plugin.device"
					data-status="$plugin.status"
					>
    				<td>$plugin.pluginId</td>
    				<td>$!plugin.name</td>
    				<td>#if ($plugin.theme==100) 2015v1 #end</td>
					<td>#if ($plugin.device==100) PC端 #elseif ($plugin.device==200) Phone端 #end</td>
    				<td>#if($plugin.status == 1) 正常 #else 关闭 #end</td>
    				<td><a href="#" data-toggle="modal" data-target="#editPluginTemplate">修改</a></td>
    			</tr>
			#end
		</tbody>
	</table>
</div>

<!-- 新增插件 -->
<div class="modal fade" id="addPluginTemplate" style="display:none">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
        		</button>
        		<h4 class="modal-title">新插件</h4>
       		</div>
        	<form class="form-horizontal" method="post" action="../plugins/">
       		<div class="modal-body">
    			<div class="form-group">
					<label for="pluginId" class="col-sm-2 control-label">ID:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="pluginId" name="pluginId" placeholder="ID:" required>
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">名称:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="name" name="name" placeholder="名称:" required>
					</div>
				</div>
				<div class="form-group">
					<label for="theme" class="col-sm-2 control-label">全局主题:</label>
					<div class="col-sm-10">
						<select class="form-control" name="theme">
							<option value="100">2015V1</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="device" class="col-sm-2 control-label">设备类型:</label>
					<div class="col-sm-10">
						<select class="form-control" name="device">
							<option value="100">PC端</option>
							<option value="200">PHONE端</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">状态:</label>
					<div class="col-sm-10">
						<select class="form-control" name="status">
							<option value="0">关闭</option>
							<option value="1">开启</option>
						</select>
					</div>
				</div>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        		<button type="submit" class="btn btn-primary">保存</button>
      		</div>
      		</form>
      	</div>
	</div>
</div>

<!-- 编辑插件 -->
<div class="modal fade" id="editPluginTemplate" style="display:none">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
        		</button>
        		<h4 class="modal-title">编辑插件</h4>
       		</div>
        	<form class="form-horizontal" method="post">
       		<div class="modal-body">
    			<div class="form-group">
					<label for="pluginId" class="col-sm-2 control-label">ID:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="pluginId" name="pluginId" disabled>
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">名称:</label>
					<div class="col-sm-10">
  						<input type="text" class="form-control" id="name" name="name" placeholder="名称:" required>
					</div>
				</div>
				<div class="form-group">
					<label for="theme" class="col-sm-2 control-label">全局主题:</label>
					<div class="col-sm-10">
						<select class="form-control" name="theme" disabled>
							<option value="100">2015V1</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="device" class="col-sm-2 control-label">设备类型:</label>
					<div class="col-sm-10">
						<select class="form-control" name="device" disabled>
							<option value="100">PC端</option>
							<option value="200">PHONE端</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">状态:</label>
					<div class="col-sm-10">
						<select class="form-control" name="status">
							<option value="0">关闭</option>
							<option value="1">开启</option>
						</select>
					</div>
				</div>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        		<button type="submit" class="btn btn-primary">保存</button>
      		</div>
      		</form>
      	</div>
	</div>
</div>
#parse("/WEB-INF/tpl/common/js.vm")
<script>
	$("#editPluginTemplate").on("show.bs.modal",function(event) {
		var tr = $(event.relatedTarget).closest('tr');
		var id = tr.data("id");
		var pluginId = tr.data("plugin_id");
		var name = tr.data("name");
		var theme = tr.data("theme");
		var device = tr.data("device");
		var status = tr.data("status");
		var modal = $(this);
		modal.find(".modal-content form").attr("action","../plugins/" + id);
		modal.find(".modal-body input[name='pluginId']").val(pluginId);
		modal.find(".modal-body input[name='name']").val(name);
		modal.find(".modal-body select[name='theme']").val(theme);
		modal.find(".modal-body select[name='device']").val(device);
		modal.find(".modal-body select[name='status']").val(status);
	});
</script>

#parse("/WEB-INF/tpl/common/footer.vm")