#parse("/WEB-INF/tpl/common/header.vm")
<div class="navbar navbar-default" id="navbar">
	#parse("/WEB-INF/tpl/common/navbar_top.vm")
</div>

<div class="main-container" id="main-container">
	<div class="main-container-inner">
		<a class="menu-toggler" id="menu-toggler" href="#">
			<span class="menu-text"></span>
		</a>
		<!-- left nav bar -->
		#parse("/WEB-INF/tpl/common/navbar_left.vm")
		<!-- main content -->
		<div class="main-content">
    		<div class="breadcrumbs" id="breadcrumbs">
    			<ul class="breadcrumb">
    				<li>
    					<i class="icon-home home-icon"></i>
    					<a href="$request.contextPath/v1/index">首页</a>
    				</li>
    				<li class="active">用户列表</li>
    			</ul><!-- .breadcrumb -->
    		</div>
			<div class="page-content">
		
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<table id="users_table"></table>
					<div id="users_pagination" style="height: auto;"></div>
					<!-- PAGE CONTENT ENDS -->
				</div><!-- /.col -->
			</div><!-- /.row -->
			</div><!-- /.page-content -->
		</div><!-- /.main-content -->
	</div><!-- /.main-container-inner -->

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="icon-double-angle-up icon-only bigger-110"></i>
	</a>
</div><!-- /.main-container -->	

#parse("/WEB-INF/tpl/common/js.vm")

<script>
jQuery(function($) {
		jQuery("#users_table").jqGrid({
			url: "$request.contextPath/v1/users.json",
			datatype: "json",
			height: "auto",
			width: "auto",
			autowidth: true,
			shrinkToFit: true,
			colNames: [ '操作', '用户ID','昵称', '手机', 'E-mail', '创建时间'],
			colModel: [
				{name: 'action', index:'action', formatter : 
					function(cellvalue, options, rowdata) {
						id = rowdata.id;
						return "N/A";
					}
				},
				{name: 'id', index:'id'},
				{name: 'name', index:'name'},
				{name: 'phone', index:'phone'},
				{name: 'email', index:'email'},
				{name: 'createTime', index:'createTime', formatter:function(cellvalue, options, rowdata){ 
					return jQuery.formatDateTime('yy-mm-dd hh:ii:ss', new Date(rowdata.createTime));
				}},
			],
			viewrecords: true,
			caption: '用户列表',
			multiselect: true,
			multiboxonly : true,
			pager: "#users_pagination",
			altRows: true
		});
	});

</script>

#parse("/WEB-INF/tpl/common/footer.vm")